:root {
  --color-white: #fff;
  --theme-bg-color: rgba(7, 8, 8, 0.4);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #090909;
  --inactive-color: rgba(54, 55, 55, 0.78);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(73, 74, 78, 0.5);
  --content-title-color: #545353;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #8c8e95;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg: hsla(186, 54%, 92%, 0.785);
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);

  --color-tag-bg: #9acd32;

  --color-background: #effbff;

  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-text-accent: #0073bb;
  --color-text-body-default: #16191f;
  --color-text-body-secondary: #545b64;
  --color-text-breadcrumb-current: #687078;
  --color-text-breadcrumb-icon: #687078;

  --color-header-background-color: #f6f7f7;

  --color-text-small: #687078;

  --color-text-link-default: #0073bb;
  --color-text-link-hover: #0073bb;
  --color-text-heading-default: #16191f;

  --color-shadow-medium: rgba(0, 28, 36, 0.3);
  ---color-shadow-side: rgba(0, 28, 36, 0.15);
  --color-border-container-top: #eaeded;
  --color-background-container-header: #fafafa;
  --color-border-divider-default: #eaeded;

  --font-body-m-line-height: 2.2rem;
  --font-body-m-size-sregvd: 1.4rem;
  --font-body-m-size: 1.6rem;
  --font-body-s-line-height: 1.6rem;
  --font-body-s-letter-spacing: normal;
  --font-body-s-size: 1.2rem;
}

* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: var(--body-font);
  background-color: var(--color-background);
}
#root {
  /*max-width: 100rem;*/
  /*margin: 4rem auto;*/
  background-color: var(--color-white);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}
p {
  line-height: 2.4rem;
}
