
  body {
    --color-background: #242b33;
    --color-primary: #effbff;
    --color-accent: #6ee2ff;
    --spacing-ui: 10px;
  
    background-color: #effbff;
    transition: background-color 0.3s;
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

