table {
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 2rem 4rem;
}
.bank-table-header {
  background: var(--color-background);
  font-weight: 500;
  height: 2.5rem;
  line-height: 2.5rem;
  color: var(--theme-color);
  overflow: hidden;
}
tr {
  &:hover {
    background: var(--color-background);
    cursor: pointer;
  }
}
button {
  background-color: var(--color-primary-light);
  color: var(--color-white);
  outline: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  &:hover {
    background-color: var(--color-primary);
    transform: translateY(2px);
  }
}
.bank-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nft-box {
  margin: 1rem 0;
}

.nft-container {
  display: flex;
  align-items: center;
  // justify-content: space-around;
  flex-wrap: wrap;
}
.nft-item {
  cursor: pointer;
  border-radius: 3px;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  );
  padding: 1rem;
  margin: 1rem 0;
  &:not(:last-child) {
    margin-right: 1rem;
  }
  img {
    height: 10rem;
    margin: 1rem 0;
  }
}
