.wrapper {
  display: flex;
  overflow: hidden;
  min-height: 70rem;
}

.left-side {
  flex: 0 0 18%;
  border-right: 1px solid var(--border-color);
  padding: 2.5rem;
  /* background-color: var(--color-primary); */
}
.right-side {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}
@media screen and (max-width: 945px) {
  .left-side {
    display: none;
  }
}

.side-wrapper + .side-wrapper {
  margin-top: 20px;
}

.side-title {
  color: var(--inactive-color);
  margin-bottom: 14px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  a {
    text-decoration: none;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
    &:hover {
      background-color: var(--hover-menu-bg);
    }
  }
  svg {
    width: 1.6rem;
    margin-right: 0.8rem;
  }
}
