.photo-list {
  position: relative;
}

.photo-header {
  display: block;
  h1 {
    display: inline-block;
  }
  button {
    background-color: yellowgreen;
    outline: none;
    border: none;
    padding: 6px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}
.photo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo-item {
  cursor: pointer;
  border-radius: 3px;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  );
  padding: 1rem;
  margin-bottom: 1.5rem;

  img {
    max-height: 20.5rem;
  }
}

.photo-title {
  margin-top: 0.5rem;
}
.photo-tags {
  margin-top: 1rem;
  span {
    margin-right: 0.5rem;
    background-color: var(--color-tag-bg);
    color: var(--color-white);
    padding: 2px 6px;
    border-radius: 10px;
  }
}
